@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
 body {
     margin: 0;
     padding: 0;
     font-family: 'Poppins', sans-serif;
     color: rgb(59, 59, 59);
 }

/* 'menu do site'  */

.header-container {
     height: 90.2vh;
     background-color: #666666;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     padding: 0 112px;
 }
 .cabeçalho{
     margin-top: 40px;
     margin-right: 30px;
 }
 .imagen {
     margin-left: 30px;
     margin-top: 100px;
 }
 .imagen img{
     border-radius: 20px;
     width: 400px;
 }
 .imagem_sobre{
    margin_left: 10px;
    margin_top: 80px;
    border_radius: 20px;
 }
 /* navbar */
 .menu-itens {
     background: #FFFFFF;
     display: flex;
    transition: .5s ease-in-out;
}

.menu-itens a {
    float: left;
    margin-top: 1rem;
    margin-left: 0.5px;
    text-decoration: none;
    color: #FFA500;
    padding: 1rem 3rem;
    min-width: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
}
      /* midias no menu */
 .social-media {
    margin-top: 1rem;
    display: flex;
    margin-left: 20px;
}

.social-media a {
    text-decoration: none;
    color: rgb(255, 211, 17);
    padding: 1rem 4rem;
    background-color: #262626;
    border: 1px solid rgb(255, 211, 17);
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
}

a:hover {
    background-color: #575656;
}

/* fontes */
 h1 {
     font-size: 50px;
     letter-spacing: 2px;
     color: rgb(255, 211, 17);
     margin-left: 50px;
     text-transform: uppercase;
 }

 h2 {
     margin-top: 35px;
     color: rgb(255, 211, 17);
     position: relative;
     font-size: 25px;
 }

 h3 {
     width: 97%;
     text-align: center;
 }

 /* pagina home */
 .card {
    width: 30%;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    display: flex;
    text-decoration: none;
    min-width: 2rem;
    margin: 50px auto;
}

.card-text {
    width: 60%;
    margin-left: 20px;
}

.paragrafo {
    font-size: 15px;
    color: #FFFFFF;
}

/* pagina sobre */
.txt-sobre {
    background-color: #262626;
    font-size: 50px;
    letter-spacing: 2px;
    color: rgb(255, 211, 17);
    text-transform: uppercase;

}

/* pagina contato */
.txt-contato {
    background-color: #262626;
    font-size: 50px;
    letter-spacing: 2px;
    color: rgb(255, 211, 17);
    text-transform: uppercase;
}

.card-text1 {
    width: 60%;
    margin-left: 20px;
}

.card-text2 {
    margin-left: 20px;
    margin-top: 40px;
}





 /* footer */
 .footer {
    padding-right: 20px;
    color: #262626;
    height: 130px;
    background-color: #FFA500;
    align-items: center;
}

    /* midias no footer */
.footer-txt {
    text-align: center;
    padding-top: 10px;
}

.socialmedia-footer {
    top: 137%;
    right: 50%;
    padding-bottom: 5px;
}

@media (max-width:680px){
    .cabeçalho{

    }
    .imagen{
        margin-top: 0;
        margin-left: 5em;
    }
    .imagen img{
        width: 70%;
    }
    h2{
    width: 100%;
    font-size: 30px;
    }
    h1{
        margin: 0;
        font-size: 40px
    }
    .card{
        background: #262626;
        width: 100%;
        margin-left: 0;
    }
    .menu-itens a{
        padding: 0.5rem 1.5rem;
    }
    .header-container{
        height: 100vh;
        padding: 0;
    }
    .social-media{
        display: block;
    }
}

/*Pagina portifolio */
.portifolio{
    background-color: #666666;
    text_align: center;
    margin: 1em;
}

.header_portifolio{
    grid-area: header;
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}
/* Grid da pagina portifólio */

.grid-container {
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'left left middle middle right right'
    'footer footer footer footer footer footer';
    grid-column-gap: 8px;
    margin: 1em;
}

.left,
.middle,
.right {
  padding: 5px;
  height: 500px;/* Should be removed. Only for demonstration */

}

/* Stilo coluna esquerda */
.left {
  grid-area: left;
}

/* Stilo coluna do meio */
.middle {
  grid-area: middle;
}

/* Stilo coluna direita */
.right {
  grid-area: right;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .grid-container  {
    grid-template-areas:
      'header header header header header header'
      'left left left left left left'
      'middle middle middle middle middle middle'
      'right right right right right right'
      'footer footer footer footer footer footer';
  }

/* stilo imagem projetos */
.imagem_projeto{
    margin: 1em;
    width: 50px;
}


