{% extends 'base.html' %}
{% block body %}


    <header class="header-container">
        <div class="cabeçalho">
            <h1>Anderson Lira</h1>
            <h2>Desenvolvedor Python | React Native </h2>
             <img src="../static/image/python.ico" alt="python" width="55px">
             <img src="../static/image/physics.png" alt="react" width="55px">
            <h2> Web | Mobile </h2>
            <div class="paragrafo">
                <p>Este é meu portifólio, nele você vai
                    conhecer um pouco mais sobre mim.</p>
            </div>
        </div>

        <div class="imagen">
                <img src="../static/image/contato.jpeg" alt="fundo3" width="300px">
            </div>
    </header>
    <main class="container">

        <div class="card-text2">
            <p>Aqui está meu currículo.</p>
            <button type="button" class="btn btn-warning"><a href="{{url_for('download_curriculo')}}">Baixar Currículo</a></button>

        </div>
        <div class="card-text2">
            <p></p>
        </div>
        </div>
        </div>
    </main>
    <footer class="footer">
        <div class="footer-txt">
            <h4>© Copyright Anderson Lira. All Rights Reserved</h4>
            <h5>Desenvolvido por Anderson</h5>
            <div>
                <a href="https://www.linkedin.com/in/anderson-lira-ads/"><img src="../static/image/linkedin.png" alt="Linkedin"
                        width="30px"></a>
                <a href="https://github.com/alira1984"><img src="../static/image/github.png" alt="git" width="30px"></a>
            </div>
        </div>
    </footer>

{% endblock %}
