

{% extends 'base.html' %}
{% block body %}
<header class="portifolio">
    <h2 style="text-align: center;">PORTIFÓLIO</h2>
</header>

<div class="grid-container">
  <div class="header"></div>

  <div class="left" style="background-color:#666666;">
      <div>
          <img  src="../static/image/CPUs.gif" alt="CPU" width="350px">
      </div>
      <hr>
      <ul>
        <li class="paragrafo">Empresa parceira: <strong>Fatec SJC</strong> </li>
        <li class="paragrafo">Nome projeto: <strong>CPUs</strong> </li>
        <li class="paragrafo">Semestre: <strong>Primeiro Semestre</strong> </li>
        <li class="paragrafo">Data: <strong>Julho 2020</strong> </li>
      </ul>
      <hr>
          <h3><strong> Acesse os Links </strong></h3>
          <a href="https://github.com/cpusfatec/cpusfatec"><img src="../static/image/github.png" alt="github" width="30px" style="background-color: white;"></a>
          <a href="https://www.linkedin.com/in/anderson-lira-ads/"><img src="../static/image/linkedin.png" alt="linkedin" width="30px" style="background-color: white;"></a>
  </div>
  <div class="middle" style="background-color:#666666;">
      <img src="../static/image/IonicHelth.gif" alt="Ionic" width="350px">
      <hr>
      <ul>
          <li class="paragrafo">Empresa parceira: <strong>Ionic Helth</strong> </li>
          <li class="paragrafo">Nome projeto: <strong>Ionic_Helth_Project</strong></li>
          <li class="paragrafo">Semestre: <strong>Segundo Semestre</strong></li>
          <li class="paragrafo">Data: <strong>Janeiro 2021</strong></li>
      </ul>
      <hr>
          <h3><strong> Acesse os Links </strong></h3>
          <a href="https://github.com/cpusfatec/IONIC-Health-Project"><img src="../static/image/github.png" alt="github" width="30px" style="background-color: white;"></a>
          <a href="https://www.linkedin.com/in/anderson-lira-ads/"><img src="../static/image/linkedin.png" alt="linkedin" width="30px" style="background-color: white;"></a>
  </div>
  <div class="right" style="background-color:#666666;">
      <img src="../static/image/DashBoard.gif" alt="DashBoard" width="350px">
      <hr>
      <ul>
        <li class="paragrafo">Empresa parceira: <strong>GSW</strong></li>
        <li class="paragrafo">Nome projeto: <strong>CRM Empresa</strong></li>
        <li class="paragrafo">Semestre: <strong>Terceiro Semestre</strong></li>
        <li class="paragrafo">Data: <strong>Julho 2021</strong></li>
      </ul>
      <hr>
          <h3><strong> Acesse os Links </strong></h3>
          <a href="https://github.com/cpusfatec/DashBoard"><img src="../static/image/github.png" alt="github" width="30px" style="background-color: white;"></a>
          <a href="https://www.linkedin.com/in/anderson-lira-ads/"><img src="../static/image/linkedin.png" alt="linkedin" width="30px" style="background-color: white;"></a>
  </div>


</div>

<footer class="footer">
        <div class="footer-txt">
            <h4>© Copyright Anderson Lira. All Rights Reserved</h4>
            <h5>Desenvolvido por Anderson</h5>
            <div>
                <a href="https://www.linkedin.com/in/anderson-lira-ads/"><img src="../static/image/linkedin.png" alt="Linkedin"
                        width="30px"></a>
                <a href="https://github.com/alira1984"><img src="../static/image/github.png" alt="git" width="30px"></a>
            </div>
        </div>
    </footer>


{% endblock %}