{% extends 'base.html' %}
{% block body %}
<header class="header-container">
    <div class="cabeçalho">
        <h1> <strong>SOBRE MIM</strong></h1>
        <h2>Desenvolvedor Python | React Native </h2>
        <img src="../static/image/python.ico" alt="python" width="55px">
        <img src="../static/image/physics.png" alt="react" width="55px">
        <h2> Web | Mobile </h2>
        <div class="paragrafo">
        <p> Estudante de Análise e desenvolvimento de sistemas na FATEC - sjc, cursando o 5º semestre.<br>
            Desenvolvendo Python e React Native como principais linguagens de programação, utilizando<br>
            os projetos API (<u>Aprendizagem por Projetos Integrados</u>) da Fatec, para aplicar os<br>
            conhecimentos adquiridos em aula.<br>
            Casado, 38 anos com um filho de 5 anos, buscando<br>
            novos desafios na carreira profissional com muito foco e determinação.<br>
            Não é fácil, mas é possivel.</p>
        </div>
    </div>

    <div class="imagem">
        <img src="../static/image/eu.jpeg" alt="eu" width="300px">
    </div>
</header>

<footer class="footer">
        <div class="footer-txt">
            <h4>© Copyright Anderson Lira. All Rights Reserved</h4>
            <h5>Desenvolvido por Anderson</h5>
            <div>
                <a href="https://www.linkedin.com/in/anderson-lira-ads/"><img src="../static/image/linkedin.png" alt="Linkedin"
                        width="30px"></a>
                <a href="https://github.com/alira1984"><img src="../static/image/github.png" alt="git" width="30px"></a>
            </div>
        </div>
    </footer>


{% endblock %}